<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>378705323250-cjt11l1oedike1t4ts3uhgn79adfhbc4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.378705323250-cjt11l1oedike1t4ts3uhgn79adfhbc4</string>
	<key>API_KEY</key>
	<string>AIzaSyBIcTOgjfAFWtK-68UtRwG90Phcw-ct2GA</string>
	<key>GCM_SENDER_ID</key>
	<string>378705323250</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ahtDimigo.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>ahtdimigo</string>
	<key>STORAGE_BUCKET</key>
	<string>ahtdimigo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:378705323250:ios:367501dd9315e33ace9c6b</string>
	<key>DATABASE_URL</key>
	<string>https://ahtdimigo-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>